body {
	font-family: Helvetica;
	margin:50px;
	position: relative;
}
/* The div container for the title and name */
#header {
	border-bottom: 1px dotted;
	display: relative;
	width:100%;
	margin-bottom: 20px;
}
/* The Assignment name */
#title {
	text-align: left;
	font-size: 2em;
}

/* The student's name */
#name {
	float: right;
}
/* Container div for the questions */
#questions {
	display: relative;
}